body { font-family: Arial, sans-serif; 
    background-color: #f9c6d7; 
    background-image: url(img/img1.jpg); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    color: #333; display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; } 
.container { 
    max-width: 600px; 
    text-align: center; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: white; } 
h1 { 
    font-size: 36px;
    color: #ff5252; 
    margin-bottom: 20px; } 
p { 
    font-size: 18px; 
    line-height: 1.5; 
} 
